
body {
	font-family: "Helvetica Neue",Helvetica,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	font-size: 1.6rem;
	line-height: 1.5em;
}

.main-header {
	height: 40%;
}

.main-header h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.home-template .page-title {
    -webkit-animation: none;
    animation: none;
}
.home-template .page-description {
    -webkit-animation: none;
    animation: none;
}

.post {
	-webkit-animation: fade-in-side 0.6s;
}

.page-title a {
	color: white;
	text-decoration: none;
}

.post-title {
	font-size: 3.6rem;
}

.post-content h2 {
	font-size: 3.0rem;
	margin-top: 2.0em;
	margin-bottom: 1.0rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px dotted #aaa;
}

.post-content h3 {
	font-size: 2.5rem;
}

.post-tags a {
	padding: 2px 6px;
	border-radius: 4px;
	color: white;
	background: #aaa;
}

code {
	font-size: 1.0em;
}

@media only screen and (max-width: 500px) {
	.post-title {
	    font-size: 2.5rem;
	}

	.post-content h2 {
		font-size: 2.0rem;
	}
}


/* for highlight.js */
.hljs-keyword, .hljs-literal, .css .hljs-id, .hljs-phpdoc, .hljs-dartdoc, .hljs-title, .hljs-header, .hljs-type, .vbscript .hljs-built_in, .rsl .hljs-built_in, .smalltalk .hljs-class, .diff .hljs-header, .hljs-chunk, .hljs-winutils, .bash .hljs-variable, .apache .hljs-tag, .tex .hljs-special, .hljs-request, .hljs-status {
	font-weight: normal;
}

pre {
	padding: 0px;
	line-height: 1.2em;
}

code.hljs {
	padding: 10px;
}


/* animation */
@-webkit-keyframes fade-in-side {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
